<div class="row">
  <div class="col-12 mt-2">
    <h2>Edit quiz</h2>
    <%= form_for @quiz, url: quiz_url(id: @quiz.id) do |f| %>
      <div class="form-group">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%=
          f.label :code,
                  'ID code (a short code that people can use to find your quiz)'
        %>
        <%= f.text_field :code, class: 'form-control text-uppercase' %>
      </div>
      <div class="form-group">
        <%= f.label :cursor, 'Current question' %>
        <%=
          f.collection_select :cursor,
                              @quiz.questions,
                              :id,
                              :title,
                              { include_blank: true },
                              { class: 'custom-select' }
        %>
      </div>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <h3>Questions</h3>
    <p id="questions-console">Changes will be autosaved</p>
    <%=
      tag(
        :div, id: 'questions-root',
        'data-quiz-json': @questions_data.to_json,
        'data-base-url': quiz_question_index_url(quiz_id: @quiz.id)
      )
    %>
    <%= javascript_pack_tag 'edit_questions' %>

    <%= form_for(:question, url: quiz_question_index_url(quiz_id: @quiz.id)) do |f| %>
      <%= f.text_field :title %>
      <%= f.submit 'Add question' %>
    <% end %>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <h3>Answers</h3>
    <p id="quiz-console">Changes will be autosaved</p>
    <%=
      tag(
        :div, id: 'quiz-root',
        'data-progress-json': @progress_data.to_json,
        'data-base-url': quiz_question_index_url(quiz_id: @quiz.id),
        'data-column-headers': @column_headers.to_json,
        'data-column-data': @column_data.to_json,
        'data-update-progress-url': quiz_update_progress_url(quiz_id: @quiz.id)
      )
    %>
    <%= javascript_pack_tag 'edit_quiz' %>

    <%=
      form_for(:user,
               url: quiz_add_guest_url(quiz_id: @quiz.id),
               remote: true,
               html: { id: 'add-guest-form' }) do |f|
    %>
      <%= f.text_field :nickname, placeholder: 'Nickname' %>
      <%= f.submit 'Add guest player' %>
    <% end %>
    <script>
      $(document).on('ajax:success', '#add-guest-form', event => {
        data2 = event.detail[0];
        hot2.loadData(data2);
      });
    </script>
    <button id="export-csv" class="btn btn-primary">Export CSV</button>
    <script>
      $(document).ready(function() {
        $("#export-csv").click(function(){
          var exportPlugin = hot2.getPlugin('exportFile');
          exportPlugin.downloadFile('csv', { columnHeaders: true })
        });
      });
    </script>
  </div>
</div>
