<div class="row">
  <div class="col-12 mt-2">
    <h2>Find a quiz</h2>
    <%= form_with(url: '/join', method: 'get', local: true) do %>
      <div class="form-group">
        <%= text_field_tag :code, nil, placeholder: 'Quiz ID',
                           class: 'form-control text-uppercase' %>
      </div>
      <%= submit_tag 'Join', class: 'btn btn-primary' %>
    <% end %>
    <div class="mt-4">
      <h2>Your quizzes</h2>
      <% @quizzes_by_series.each do |series, quizzes| %>
        <h6 class="mt-4">
          <% if series %>
            <%= link_to series.name, series_url(series.id) %>
          <% else %>
            No series
          <% end %>
        </h6>
        <div class="list-group">
        <% quizzes.each do |quiz| %>
          <%= link_to quiz.name, edit_quiz_url(quiz.id),
                      class: 'list-group-item list-group-item-action' %>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="mt-4">
      <%= link_to 'Create a quiz', new_quiz_url %>
    </div>
  </div>
</div>
