<h2>Find a quiz</h2>
<%= form_with(url: '/join', method: 'get', local: true) do %>
  <%= text_field_tag(:code, nil, placeholder: 'Quiz ID') %>
  <%= submit_tag('Join') %>
<% end %>
<h2>Your quizzes</h2>
<ul>
<% current_user.quizzes.each do |quiz| %>
  <li><%= link_to quiz.name, edit_quiz_url(quiz.id) %></li>
<% end %>
</ul>
<%= link_to 'Create a quiz', new_quiz_url %>
