<h2>Create a quiz</h2>
<%= form_for @quiz, url: quiz_index_url do |f| %>
  <div class="row">
    <%= f.label :name, 'Name' %>
  </div>
  <div class="row">
    <%= f.text_field :name %>
  </div>
  <div class="row">
    <%=
      f.label :code,
              'ID code (a short code that people can use to find your quiz)'
    %>
  </div>
  <div class="row">
    <%= f.text_field :code %>
  </div>
  <%= f.submit %>
<% end %>
