<div class="row">
  <div class="col-12 mt-2">
    <h2>Create a quiz series</h2>
    <%= form_for @series, url: series_index_url do |f| %>
      <div class="form-group">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= hidden_field_tag :redirect_to, @redirect_to %>
      </div>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
